<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% if title %}
<title>{{title}} - sgmqsblog</title>
{% else %}
<title>Welcome to - sgmqsblog</title>
{% endif %}
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    <div>
    	sgmqsblog:<a href="{{ url_for('index') }}">Home</a>
         {% if session.nickname %}

            | <a href="{{url_for('user',nickname=session.nickname)}}">You Profile</a>
            | <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}  
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    	<li>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content%} {% endblock %}
</body>
</html>